@font-face {
    font-family: 'PressStart';
    src: url('/fonts/PressStart2P-Regular.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #003068;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: white;
    font-family: 'PressStart';
    margin: 0 auto;
}

.title {
    text-align: center;
    color: white;
    font-family: 'PressStart';
    margin-bottom: 40px;
}

.gif-container {
    position: relative;
    width: 320px;
    height: 320px;
    margin-bottom: 20px;
    border: 3px solid;
    border-color: aliceblue;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    position: relative;
    gap: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
}

button {
    padding: 15px 30px;
    background-color: #003068;
    color: white;
    font-family: 'PressStart';
    font-size: 15px;
    border: 3px solid;
    border-color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.headtext {
    text-align: center;
    color: white;
    font-family: 'PressStart';
    margin-bottom: 20px;
    margin-top: 40px;
}

#heads img {
    margin-top: 30px;
    width: 100px; /* adjust the size to your liking */
    height: 100px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.4s ease-in-out; /* add some margin for better spacing */
  }

#themes img:hover {
    transform: scale(1.2);
  }

#themes img {
    margin-top: 30px;
    width: 100px; /* adjust the size to your liking */
    height: 100px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.4s ease-in-out; /* add some margin for better spacing */
  }

#heads img:hover {
    transform: scale(1.2);
  }

  #music-button {
    position: fixed;
    top: 50%;
    right: 225px;
    transform: translateY(-50%);
    z-index: 1;
    padding: 15px 30px;
    font-size: 18px;
    width: 150px;
    text-align: center;
  }

.watermark {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 8px;
    z-index: 0;
}